*.elc
.emacs.desktop*
.smex-items
abbrev_defs
auto-save-list
backups
bookmarks
el-get/
elpa/
elpa/archives
eshell/history
eshell/lastdir
ido.last
image-dired/
mail
my-autoload.el
network-security.data
news
places
projectile-bookmarks.eld
recentf
session*
smex-items
thumbs
tramp
transient/
url
var
